body {
    color: gray;
    font-family: Arial;
    text-align: justify;

}


.city-image {
    width: 10vw;
    height: 10vw;
    float: left;
}

.brighton-times {
    font-family: Arial;
    font-size: 8vw;
    color: black;
    text-align: left;
    margin-left: 3vw;
}

.hr-tag-styling {
    box-shadow: 0px 3px 3px gray;
    clear: both;
    margin-top: 2vw;
}


.navigation-tab {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 25px;
}

.navigation-tab div {
    max-width: 100%;
    margin: auto;
    padding: 5px;
    font-weight: 5px;
    font-size: 2vw;
}

.breaking-news-container {
    position: relative;
    width: 100%;
}

.breaking-news-image {
    width: 100%;
    align: center;
    height: 50vw;
}

.breaking-news-content {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    color: gray;
    width: 100%;
}

.breaking-news-heading {
    padding-left: 2vw;
    text-align: left;
    font-size: 3vw;

}

.breaking-news {
    font-size: 2vw;
    padding-left: 2vw;
}

.news {
    font-family: verdana;
    font-size: 3vw;
    color: black;

}


.more {
    font-family: verdana;
    font-size: 2.5vw;
    color: black;
    float: right;
}

.bordered {
    border-bottom: 1px solid gray;
}

.top-news-highlights {
    font-family: arial;
    line-height: 3;
    font-size: 1.8vw;
}


table {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
}

td {
    text-align: left;
    padding-top: 20px;
    color: black;
    font-size: 2vw;
}

th{
    font-size: 2.2vw;
}

.winner {
    font-weight: bold;
}

.place-of-temperature {
    font-family: Arial;
    font-size: 3vw;
    color: black;

}

.temperature-today-image {
    margin: 1vw 1vw 1vw 0vw;
    height: 18vw;
    width: 25vw;
    float: left;
}

.temperature-today {
    font-size: 5vw;
    float: left;
    padding-top: 7vw;
    padding-left: 2vw;
}

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weather div {
    max-width: 100%;
    font-size: 2vw;
    margin: auto;
    padding: 2vw;
    color: black;
}

.weather-image {
    height: 10vw;
    width: 10vw;
}

.temperature {
    font-size: 2vw;
}

.latest-news-div-pad {
    padding-bottom: 2vw;
}

.latest-news-image {
    float: left;
    clear: left;
    height: 13vw;
    width: 21vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.latest-news-heading {
    padding-top: 0vw;
    font-family: verdana;
    font-weight: bold;
    font-size: 2.5vw;

}

.latest-news-description {
    font-family: verdana;
    font-size: 2vw;
}

#footer {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 10px gray;
    width: 100%;
    font-family: Arial;
    color: black;
    margin-top: 10vw;
    font-size: 2vw;


}

#footer div {
    padding: 2vw 2vw 2vw 2vw;
}












@media screen and (max-width: 768px) and (min-width: 480px) {
    .breaking-news-container {
        position: relative;
        width: 100%;
    }

    .breaking-news-image {
        width: 50%;
        align: center;
        height: 50vw;
    }

    .breaking-news-content {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 50%;
    }

    .shift-in-medium-screen {
        position: absolute;
        float: right;
        width: 50%;
        right: 0px;
        top: 0px;

    }

    .weather {
        display: flex;
        flex-direction: row nowrap;
        justify-content: space-around;

    }

    .weather div {
        max-width: 50%;
        font-size: 2vw;
        margin: auto;
        padding: 2vw;
        color: black;
    }



    .place-of-temperature {
        font-family: Arial;
        font-size: 3vw;
        color: black;
        padding-left: 1vw;
    }

    .temperature-today-image {
        margin: 1vw 1vw 1vw 0vw;
        height: 18vw;
        width: 25vw;
        float: left;
    }

    .temperature-today {
        font-size: 5vw;
        float: left;
        padding-top: 7vw;
        padding-left: 1vw;
    }

    .weather-image {
        height: 5vw;
        width: 5vw;
    }

    .temperature {
        font-size: 2vw;
    }


}




@media screen and (max-width: 480px) {
    .navigation-tab {
        display: flex;
        flex-direction: column;
    }

    .navigation-tab div {
        max-width: 100%;
        margin: auto;
        padding: 5px;
        font-weight: 5px;
        font-size: 3vw;
    }

    .breaking-news-container {
        position: relative;
        width: 100%;
    }

    .breaking-news-image {
        width: 100%;
        height: 50vw;
    }

    .breaking-news-content {
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 1);
        color: gray;
        width: 100%;

    }

    .breaking-news-heading {
        padding-left: 2vw;
        text-align: left;
        font-size: 3vw;
    }

    .breaking-news {
        font-size: 2vw;
        padding-left: 2vw;
    }

    #footer {
        flex-direction: column;
        box-shadow: 0px 3px 10px gray;
        margin-top: 15vw;
        font-size: 2vw;
    }

    #footer div {
        padding: 2vw 2vw 2vw 2vw;
    }
}